.audio {
width: 100%;
}
.modal-footer {
text-align: center;
}
.form-audio {
margin-left: 350px;
}
.page-header {
text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: 'Roboto', sans-serif;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}